global
    daemon
    maxconn 256

defaults
    mode tcp
    timeout connect 5s
    timeout client 60s
    timeout server 60s
    option tcplog

frontend seftp_front
    bind *:1256
    maxconn 100
    default_backend seftp_back

backend seftp_back
    server seftp-server seftp-server:1256 check
